<h2>NEW Book</h2>
<%= form_for(Book.new) do |f| %>

  <% if book.errors.any? %>
    <h2><%= book.errors.count %>errors prohibited this obj from being saved:</h2>
    <ul>
    <%= book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  <% end %>

  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label "Opinion" %>
  <%= f.text_area :body %>

  <%= f.submit 'Create Book' %>

<% end %>