<div class="row">
  <div class="col-xs-3">
    <%= render 'users/info', user: @book.user %>
    <%= render 'books/form', book: Book.new %>
  </div>

  <div class="col-xs-9">
    <h1>Book detail</h1>
    <table class="table">
      <tbody>
        <tr>
          <td>
            <%= attachment_image_tag @book.user, :profile_image, :fill, 50, 50, format: "jpeg", fallback: "no_image.jpg" %><br>
            <%= link_to @book.user.name, user_path(@book.user) %>
          </td>
          <td><%= @book.title %></td>
          <td><%= @book.body %></td>

          <!-- いいねボタン -->
          <td>
            <% if @book.favorited_by?(current_user) %>
              <%= link_to book_favorites_path(@book), method: :delete do %>
                <i class="glyphicon glyphicon-heart" aria-hidden="true"></i>
                <%= @book.favorites.count %>
              <% end %>
            <% else %>
              <%= link_to book_favorites_path(@book), method: :post do %>
                <i class="glyphicon glyphicon-heart-empty" aria-hidden="true"></i>
                <%= @book.favorites.count %>
              <% end %>
            <% end %>
          </td>
          <td>
            コメント数:<%= @book.book_comments.count %>
          </td>

          <% if @book.user == current_user %>
            <td><%= link_to "Edit", edit_book_path(@book), class: "btn btn-success" %></td>
            <td><%= link_to "Destroy", book_path(@book), method: :delete, "data-confirm" =>  "本当に消しますか?", class: "btn btn-danger" %></td>
          <% end %>
        </tr>
      </tbody>
    </table>

    <!-- コメントフォーム -->
    <%= form_for [@book, @book_comment] do |f| %>
      <%= f.text_area :comment %>
      <%= f.submit "送信" %>
    <% end %>

    <!-- コメント一覧 -->
    <% @book.book_comments.each do |book_comment| %>
      <%= attachment_image_tag book_comment.user, :profile_image, :fill, 50, 50, format: "jpeg", fallback: "no_image.jp" %>
      <%= book_comment.user.name %>
      <%= book_comment.comment %>
    <% end %>

  </div>
</div>