<h1>Book detail</h1>
<%= @book.title %>
<%= @book.body %>



<h2>NEW Book</h2>
<%= form_for(Book.new) do |f| %>

  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label "Opinion" %>
  <%= f.text_area :body %>

  <%= f.sumbmit 'Create Book' %>

<% end %>
